<!DOCTYPE html>
<html ng-app="myApp">
    <head lang="en">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="webjars/bootstrap/3.2.0/css/bootstrap.css">
        <link rel="stylesheet" href="webjars/bootstrap-material-design/0.2.1/css/material.css">
        <title></title>
    </head>
    <body ng-controller="TestCaseController">
        <div class="row">
            <br>
            <div class="container">
                <div id="userList" class="col-sm-offset-1 col-sm-10">
                    <div class="input-group">
                        <input class="form-control" id="search" name="search" placeholder="Search for" ng-model="query"
                               required="required"/>
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-default">
                      <i class="glyphicon glyphicon-search"></i>
                  </button>
              </span>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <div ng-repeat="testCase in testCases | filter : query" class="list-group-item" style="margin-top:16px">
                                <input type='checkbox' ng-model='testCase.checked'>
                                <div class="row-content">
                                    <h4 class="list-group-item-heading">{{testCase.tcId}} {{testCase.desc}}</h4>

                                </div>
                            </div>
                        </div>
                    </div>
                    <input type='submit' ng-click="submitTestCases()" value="Run Test">

                </div>
            </div>
        </div>
        <script type="text/javascript" src="webjars/jquery/2.1.1/jquery.js"></script>
        <script type="text/javascript" src="webjars/angularjs/1.3.16/angular.min.js"></script>
        <script type="text/javascript" src="webjars/angularjs/1.3.16/angular-resource.min.js"></script>
        <script type="text/javascript" src="webjars/bootstrap-material-design/0.2.1/js/material.js"></script>
        <script type="text/javascript" src="resources/js/app.js"></script>

    </body>
</html>
